main {
    border: 1px solid red ;
    height: 630px;
    width: 1100px;
    margin: auto;
    border-radius: 1em;

}
header {
     
    border: 1px solid blue;
    height: 100px;
    border-radius: 1em;
    text-align: center;
}

nav{
    border: 1px solid green;
    height: 80px;
    margin: 5px 0px 5px 0px

}
section {
    border: solid black;
    border-radius: 1em;
    height: 363px;
    padding: 5px;
    
}
footer {
    border: 1px solid pink;
    border-radius: 1em;
    height: 90px;
    
}
aside{
    border: 1px solid orangered;
    border-radius: 1em;
    display: 100px;
    height:  340px;
    width: 400px;
    float: right;
}
article{
    border: 1px solid brown;
    border-radius: 1em;
    height: 170px;
    width: 670px;
    float: left;

}

ul li{
    border: 1px solid blueviolet;
    width: 250px;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Viga', sans-serif;
}
header img{
    font-family: 'Viga', sans-serif;
}