main {
    border: 1px solid red ;
    height: 630px;
    width: 1100px;
    margin: auto;

}
header {
     
    border: 1px solid blue;
    height: 100px;
}

nav{
    border: 1px solid green;
    height: 80px;

}
section {
    border: 1px solid black;
    height: 363;

}
footer {
    border: 1px solid pink;
    height: 90px;
    clear: both;
}
aside{
    border: 1px solid orangered;
    display: 50px;
    height:  335px;
    width: 500px;
    float: left;
}
article{
    border: 1px solid brown;
    height: 110px;
    width: 570px;
    float: right;

}
